#.gitignore for bachelorarbeit

#Ignore all the files except this below
*.*

!cipher_suites_crypto_wrap.xlsx
!testbench.txt
!modif_embetterSSL.txt
!Doc.txt
!.gitignore
!*.c
!*.h
!*.tex
!*.bib
!*.pdf

val_crypto_prov_libtom/
crypto_libtom/build/
crypto_libtom/Debug/
crypto_libtom/crypt/
crypto_libtom/math/
crypto_libtom/frankencert files/
